@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@500&family=Antonio:wght@600&family=Catamaran&family=Convergence&family=Heebo:wght@700;900&family=Inter:wght@100..900&family=Noto+Sans+KR&family=Open+Sans:wght@800&family=Outfit:wght@400;700&family=PT+Sans:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    list-style: none; 
}
body{
    background-color: #ffffff;
    width: 100%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
    margin-inline-start: 10%;
    margin-inline-end: 10%;
}
header .peak{
    display: flex;
    align-items: center;
}
header .navlist ul{
    display: flex;
   
    
}
header .navlist ul li{
    font-size: 16px;
    padding-right: 46px;
    color: #989CA5;
}
header .navlist ul li span{
    background-color: #793cfb;
    color: #ffffff;
    padding: 8px 12px;
    border-radius: 25px;
}
header .fa-bars{
    display: none;
}
.digital{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 11%;
    margin-top: 4%;
}
.digital .digital1{
    padding-block: 3%;
}
.digital img{
    width: 50%;
}
.digital h3{
    background-color: #F2ECFF;
    color: #793cfb;
    border-radius: 10px;
    width: max-content;
    padding-inline: 20px;
    padding-block: 3px;
    margin-block: 5%;
}
.digital .digital1 h1{
    font-size: 40px;
    padding-bottom: 30px;
    line-height: 50px;
}
.digital .digital1 p {
    margin-block: 20px;
    color: #6A727D;
    line-height: 25px;
}
.digital .btn {
    display: flex;
    
}
.digital .btn .us {
    padding: 15px 0px;
    width: 30%;
    border-radius: 40px;
    font-size: 14px;
    color: #ffffff;
    background-color: #793cfb;
    border: 1px solid #793cfb;
}
.digital .btn .vi {
    padding: 15px 0px;
    width: 30%;
    border-radius: 40px;
    font-size: 14px;
    color: #ffffff;
    background-color: #3AB094;
    border: 1px solid #3AB094;
    margin-inline-start: 20px;
}
.wave svg{
    margin-bottom: -5px;
    margin-top: -5%;
}

.market{
   min-height: 100vh;
   padding: 30px 11%;
   background-color: #F1EEFF;
}
.market .dgl h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 8%;
}


.market .ads{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    grid-gap: 32px;
    
}
.market .ads .item1{
     border: 1px solid #fff;
    background-color: #fff;
    border-radius: 18px;
    padding: 50px;
    line-height: 29px;
}
.market .ads .item1{
    color: #6A727D;
}
.market .ads .item1 .learn1 {
    width: 50%;
    padding: 16px 0px;
    border-radius: 40px;
    color: #ffffff;
    border: 1px solid #206CFF;
    background-color: #206CFF;
    margin-top: 20px;
}
.market .ads .item1 .learn2{
    width: 50%;
    padding: 16px 0px;
    border-radius: 40px;
    color: #ffffff;
    border: 1px solid #39B094;
    background-color: #39B094;
    margin-top: 13px;
}
.market .ads .item1 .learn3{
    width: 50%;
    padding: 16px 0px;
    border-radius: 40px;
    color: #ffffff;
    border: 1px solid #FE7831;
    background-color: #FE7831;
    margin-top: 20px;
}
.market .ads .item1 .learn4{
    width: 50%;
    padding: 16px 0px;
    border-radius: 40px;
    color: #ffffff;
    border: 1px solid #F06C7A;
    background-color: #F06C7A;
    margin-top: 20px;
}
.market .ads .item1 .learn5{
    width: 50%;
    padding: 16px 0px;
    border-radius: 40px;
    color: #ffffff;
    border: 1px solid #793CFB;
    background-color: #793CFB;
    margin-top: 20px;
}
.client{
    min-height: 70vh;
    padding-inline-start: 11%;
    padding-inline-end: 3%;
    padding-bottom: 26%;
    padding-top: 2%;
    background-color: #793CFB;
    color: #ffffff;
}
.client .some{
    text-align: center;
    color: #ffffff;
    margin-block: 20px;
}
.client .icon{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(234px,1fr));
    grid-gap: 32px;
    margin-top: 5%;
}
.client .icon .goo{
    background-color: #864FFB;
    width: 60%;
    padding: 33px 0px;
    text-align: center;
    border-radius: 40px;
    font-weight: 600;
    font-size: 18px;

}
.client .icon .icon1{
    display: flex;
    background-color: #864FFB;
    width: 60%;
    padding: 25px 0px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-radius: 40px;
    font-size: 18px;
}
.client .icon .icon1 p{
    padding-inline-end: 5px;
}
.client .icon .icon1 img{
    width: 16%;
}
.client .icon .icon2 img{
    width: 50%;
}
.client .icon .icon2 p{
    padding-inline-end: 5px;
}
.client .icon .icon2 {
    background-color: #864FFB;
    width: 60%;
    text-align: center;
    border-radius: 40px;
}
.client .icon .icon3 {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    width: 60%;
    color: #206CFF;
   align-items: center;
    border-radius: 40px;
}
.client .icon .icon3 img{
    width: 20%;
}
.client .icon .icon3 p{
    padding-inline-end: 5px;
}
.wave1 svg{
    margin-top: -22%;
    position: absolute;
}
.Lead{
    display: flex;
    background-color: #F1EEFF;
    
}
.Lead {
    padding-inline: 11%;
    padding-bottom: 20%;
    padding-top: 1%;
}
.Lead .tech img{
    display: block;
    width: 30vw;
    height: 100%;
}


.Lead .lead1 h1{
    margin-bottom: 40px;
}


.Lead .lead2{
    display: flex;
    align-items: center;
    margin-block: 20px;
    padding-block: 20px;
}
.Lead .lead2{
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 18px;
   
}
.Lead .lead2 img {
    width: 20%;
    height: 25vh;
    
}
.Lead .lead2 h2{
    padding-block: 10px;
}
.Lead .lead2 p{
    line-height: 30px;
    font-size: 16px;
    color: #6A727D;
}
.wave2 svg{
    margin-top: -22%;
    position: absolute;
}
.Lead .lead2 .lead3{
    padding-inline: 20px;
}
.Lead .lead2 .lead4{
    padding-inline: 25px;
}
.team{
    background-color: #793CFB;
    color: #ffffff;
    padding-inline: 11%;
    padding-bottom: 6%;
}
.team .team4{
    display: flex;
    justify-content: space-between;

}
.team .team4 .team1{
    margin-top: 15%;
    text-align: center;
}
.team .team4 .team2{
    margin-top: 8%;
}
.team .team4 .team3{
    margin-top: 1%;
}
.team .team1 img{
    width: 22vw;
    border-radius: 50%;
}
.team .team2 img{
    width: 24vw;
    border-radius: 50%;
}
.team .team3 img{
    width: 23vw;
    border-radius: 50%;
}
.team .team1 h1 {
    text-align: center;
    margin-block: 10px;
    font-size: 30px;
}
.team .team2 h1 {
    text-align: center;
    margin-block: 10px;
    font-size: 30px;
}
.team .team3 h1 {
    text-align: center;
    margin-block: 10px;
    font-size: 30px;
}
.team .team1  p{
    text-align: center;
}
.team .team2 p {
    text-align: center;
}
.team .team3  p{
    text-align: center;
}

.team .meet{
    white-space: pre-line;
}
.team .meet h1{
    font-size: 36px;
}
.team .meet p{
    padding-block: 10px;
    line-height: 25px;
}
.say{
    background-color: #F1EEFF;
    padding-inline: 10%;
    padding-top: 5%;
    padding-bottom: 18%;
}
.say .say1 h1{
    text-align: center;
    padding-block: 40px;
}
.say .say3{
    display: flex;
}
.say .Stars1{
    border-top: 5px solid #1465FF;
    background-color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-inline: 3%;
    
    padding-block-end: 10%;
    padding-inline: 8%;
}
.say .Stars1 .color{
    background-color: #ffffff;
    margin-block-start: -22px;
    position: absolute;
    margin-inline-start: 18%;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 2px 9px 9px 3px #EDEFF2;
}
.say .Stars2{
    border-top: 5px solid #39B094;
    background-color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-inline: 3%;
    
    padding-block-end: 10%;
    padding-inline: 8%;
}
.say .Stars2 .color{
    background-color: #ffffff;
    margin-block-start: -22px;
    position: absolute;
    margin-inline-start: 18%;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 2px 9px 9px 3px #EDEFF2;
}
.say .Stars3{
    border-top: 5px solid #F06C7A;
    background-color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-inline: 3%;
    
    padding-block-end: 10%;
    padding-inline: 8%;
}
.say .Stars3 .color{
    background-color: #ffffff;
    margin-block-start: -22px;
    position: absolute;
    margin-inline-start: 18%;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 2px 9px 9px 3px #EDEFF2;
}
.say .jen{
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-inline: 3%;
    margin-bottom: 10%;
    margin-top: 1px;
    padding-inline: 7%;
    padding-block: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.say .jen .jen1{
    padding-left: 10px;
}
.say .jen .jen1 p{
    color: #6A727D;
    font-size: 16px;
}

.say .jen img{
    width: 100%;
    height: 16vh;
    border-radius: 50% ;
}
.say .Stars1 .start1{
    color: #F4BB4F;
    padding-block: 20px;
    text-align: center;
}
.say .Stars1 p{
    line-height: 30px;
    text-align: center;
    color: #6A727D;
    font-size: 16px;
}
.say .Stars2 .start1{
    color: #F4BB4F;
    padding-block: 20px;
    text-align: center;
}
.say .Stars2 p{
    line-height: 30px;
    text-align: center;
    color: #6A727D;
    font-size: 16px;
}
.say .Stars3 .start1{
    color: #F4BB4F;
    padding-block: 20px;
    text-align: center;
}
.say .Stars3 p{
    line-height: 30px;
    text-align: center;
    color: #6A727D;
    font-size: 16px;
}
.wave3 svg{
    margin-top: -22%;
    position: absolute;
}
.quick{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-inline: 10%;
    padding-block: 3%;
}

.quick .quick2{
    display: flex;
    align-items: center;
    margin-left: -14px;
}
.quick1  p{
    color: #6A727D;
    font-size: 16px;
    line-height: 30px;
}
.quick .nav1 .fa-solid{
    color: #793CFB;
}
.quick .nav1  {
    margin-top: 10px;
}
.i33 .sub-btn{
    display: none;
}
.i44 span {
    padding-right: 10px;
}
.nav1 .i44 {
    line-height: 35px;
    color: #6A727D;
    font-size: 16px;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 10%;
    margin-block: 3%;
}
footer .circle{
   
    color: #6A727D;
    font-size: 14px;

}
footer .circle1{
   
    display: flex;
    color: #793CFB;
    font-size: 26px;
    justify-content: center;
}
footer .circle1 i{
    padding-inline: 10px;
}









@media (min-width:280px) and (max-width:900px){

    header {
        margin-inline-start: 3%;
        margin-inline-end: 7%;
    }
    header .navlist{
        position: fixed;
        margin-left: -110%;
        width: 87%;
        background-color: #D9CAEF;
        text-align: center;
    }
    header .navlist ul{
        flex-direction: column;
        margin-bottom: 12px;
    }
    header .nav-toggle{
        top: 13%;
        margin-left: 3%;
        
       }
    header .navlist ul li{
        padding-block: 10px;
    }
    header .fa-bars{
        display: block;
    }
    .digital{
        margin-inline-start: 6%;
        margin-inline-end: 6%;
        margin-top: 4%;
    }
    .digital img{
        display: none;
    }
    .digital h3 {
        background-color: #F2ECFF;
        color: #793cfb;
        padding: 10px 10px;
        border-radius: 45px;
        margin-bottom: 12px;
        text-align: center;
        width: auto;
    }
    .digital h1{
        font-size: 48px;
        line-height: 60px;
        margin-block: 25px;
    }
    .digital p{
        margin-block: 20px;
        color: #6A727D;
        line-height: 25px;
    }
    .digital .btn .us {
        padding: 8px 0px;
        width: 40%;
        border-radius: 20px;
    }
    .digital .btn .vi {
        padding: 8px 0px;
        width: 40%;
        border-radius: 20px;
    }
    .market{
        padding: 30px 7%;
    }
    /* .market .ads{
        flex-direction: column;
    } */
    /* .market .ads .item1{
        border: 1px solid #fff;
        background-color: #fff;
        border-radius: 18px;
    } */
    .market .ads .item1{
        text-align: center;
    }
    .market .ads .item1 h3{
        padding-block: 12px;
        font-size: 20px;
    }
    .market .ads .item1 p{
        color: #6A727D;
        font-size: 16px;
        margin-bottom: 16px;
        line-height: 25px;
    }
    .market .ads .item1 .learn1 {
        width: 60%;
        padding: 10px 0px;
        border-radius: 20px;
    }
    .market .ads .item1 .learn2 {
        width: 60%;
        padding: 10px 0px;
        border-radius: 20px;
    }
    .market .ads .item1 .learn3 {
        width: 60%;
        padding: 10px 0px;
        border-radius: 20px;
    }
    .market .ads .item1 .learn4 {
        width: 60%;
        padding: 10px 0px;
        border-radius: 20px;
    }
    .market .ads .item1 .learn5 {
        width: 60%;
        padding: 10px 0px;
        border-radius: 20px;
    }
    /* .market .ads .item1 .learn1{
        width: 50%;
        padding: 8px 0px;
        border-radius: 20px;
        border: 1px solid #206CFF;
        background-color: #206CFF;

    }
    .market .ads .item1 .learn2{
        width: 50%;
        padding: 8px 0px;
        border-radius: 20px;
        border: 1px solid #39B094;
        background-color: #39B094;
    }
    .market .ads .item1 .learn3{
        width: 50%;
        padding: 8px 0px;
        border-radius: 20px;
        border: 1px solid #FE7831;
        background-color: #FE7831;
    }
    .market .ads .item1 .learn4{
        width: 50%;
        padding: 8px 0px;
        border-radius: 20px;
        border: 1px solid #F06C7A;
        background-color: #F06C7A;
    }
    .market .ads .item1 .learn5{
        width: 50%;
        padding: 8px 0px;
        border-radius: 20px;
        border: 1px solid #793CFB;
        background-color: #793CFB;
    } */
    .market .ads{
        grid-gap: 32px;
        grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    }
    .client{
        padding-inline-start: 7%;
        padding-inline-end: 7%;
        margin-bottom: 1%;
    }
    .client .icon{
      
        grid-template-columns: repeat(auto-fit,minmax(115px,1fr));
        
    }
    .client {
        min-height: 98vh;
    }
    .client .icon .icon1 {
       
        width: 100%;
        padding: 12px 0px;
    }
    .client .icon .goo{
        padding: 13px 0px;
        width: auto;
    }
    .client .icon .icon2{
        width: auto;
    }
    .client .icon .icon2 img {
        width: 55%;
        padding-top: 10px;
    }
    .client .icon .icon3{
        width: auto;
    }
    .client .icon .icon3 img{
        width: 17%;
    }
    .client .icon .icon1 img{
        width: 17%;
    }
    
    .Lead .tech img{
        display: none;
    }
    .Lead .lead1{
        padding-block: 15%;
    }
    .Lead .lead1 h1{
        margin-bottom: 25px;
    }
    .Lead .lead2{
        border: 1px solid #fff;
        background-color: #fff;
        border-radius: 18px;
        flex-direction: column;
       
    }
    .Lead .lead1 {
        padding-block: 15%;
        padding-bottom: 20%;
    }
    .Lead {
        padding-inline: 7%;
        padding-bottom: 15%;
    }
    .Lead .lead2 .lead3{
        text-align: center;
    }
    .Lead .lead2 .lead4{
        text-align: center;
    }
    .team{
        padding-inline: 7%;
    }
    .team .team4{
        flex-direction: column;
    
    }
    .team .team1 img{
        width:83%;
        border-radius: 50%;
    }
    .team .team2 img{
        width: 93%;
        border-radius: 50%;
    }
    .team .team3 img{
        width: 90%;
        border-radius: 50%;
    }
    .team .team1{
        text-align: center;
        margin-block: 10%;
        line-height: 35px;
    }
    .team .team2{
        text-align: center;
        margin-block: 10%;
        line-height: 35px;
    }
    .team .team3{
        text-align: center;
        margin-block: 10%;
        line-height: 35px;
    }
    .say{
        padding-inline: 5%;
    }
    .say .say3{
        flex-direction: column;
    }
    .say .Stars1 .color{
        margin-inline-start: 60%;
    }
    
    .say .Stars2 .color{
        margin-inline-start: 60%;
    }
    .say .Stars3 .color{
        margin-inline-start: 60%;
    }
    .quick .quick1{
        padding-bottom: 10%;
    }
    .quick {
        flex-direction: column;
       padding-inline: 6%;
       padding-block: 10%;
       
    }
    /* .quick .quick2 {
        justify-content: center;
    } */
    .quick .quick1 p{
        line-height: 45px;
        font-size: 18px;
        
    }
    .i33 .sub-btn{
        display: block;
    }
    .i44 {
        background-color: #ffffff;
        border-radius: 4px ;
        width: 100%;
        padding: 20px;
        line-height: 40px;
        display: none;
        position: absolute;
        z-index: 0;
        opacity: 0;
        visibility: hidden;
    }
    .nav1:hover .i44{
        display: block;
        opacity: 1;
        visibility: visible;
        transition: 0s;
        z-index: 1000;
    }
    .nav1 .i33{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }
    .nav1 {
        padding-block: 5%;
        width: 100%;
        position: relative;
    }
    footer{
        flex-direction: column;
        margin-inline: 6%;
        padding-block: 6%;
    }
    footer .circle1{
        padding-top: 3%;
    }
    footer .circle {
        text-align: center;
    }
}
@media (min-width:748px) and (max-width:900px){
    .Lead .lead2 .lead4{
        padding-inline: 40px;
    }
    .quick .quick1 {
        padding-bottom: 10%;
        
    }
    .client {
        min-height: 50vh;
    }
}

@media (min-width:900px)  and (max-width:1200px){
    header .navlist ul {
        display: flex;
        padding-left: 12%;
    }
    header .navlist ul li {
        font-size: 16px;
        padding-right: 20px;
    }
    .client .icon .icon1 img{
        width: 16%;
    }
    .client .icon .icon3 img{
        width: 16%;
    }
    
    
    .client .icon .goo {
       
       
        padding: 13px 0px;
       
    }
    .client .icon .icon2 img {
        width: 45%;
        padding-top: 24px;
       
    }
    .client .icon{
      
        grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
        
    }
}
@media (min-width:1000px){
    header .navlist ul {
        display: flex;
        padding-left: 21%;
    }
    .client .icon .goo {
       
       
        padding: 30px 0px;
       
    }
    footer .circle1 {
       
        font-size: 30px;
        
    }
    .quick .nav1{
        padding-right: 5%;
    }
    /* .client .icon{
      
        grid-template-columns: repeat(auto-fit,minmax(160px,1fr));
        
    } */
   

    .client .icon .icon2 img {
        width: 45%;
        
        padding-top: 25px;
       
    }
}
@media (min-width:1440px){
    header .navlist ul{
        padding-left: 35%;
        
    }
    header .navlist ul li {
        font-size: 16px;
        padding-right: 46px;
    }
    .market .ads .item1{
        padding: 40px;
    }
    .say .Stars3 p{
        line-height: 30px;
        text-align: center;
    }
    .say .Stars2 p {
        line-height: 35px;
        text-align: center;
    }
    .client .icon .goo {
        margin-top: 1px;
        font-weight: 900;
       
       
    }
    .client .icon .icon1 {
        width: 60%;
        padding: 25px 0px;
    }
    .client .icon .icon2 {
        width: 60%;
    }
    .client .icon .goo {
        
        padding: 27px 0px;
        width: 60%;
    }

    
    .client .icon .icon2 img{
        width: 45%;
        padding-top: 24px;
    }
    .client .icon .icon2 p{
        padding-inline-end: 5px;
    }
    .client .icon .icon3 img{
        width: 20%;
    }
    .client .icon .icon3 {
        width: 60%;
    }
    .client .icon .icon3 p{
        padding-inline-end: 5px;
    }
}
@media (min-width:1100px) and (max-width:1200px){
    /* .client .icon{
      
        grid-template-columns: repeat(auto-fit,minmax(185px,1fr));
        
    } */
    
}
/* @media (min-width:1100px) and (max-width:1440px){
    .client .icon{
      
        grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
        
    }
    .client .icon .icon2 img{
        width: 33%;
        padding-top: 11px;
    }
} */











@media (min-width:740px)  and (max-width:1024px){

}